.cart-page {
    min-height: 100vh;
    background-color: #f5f5f5;
    align-items: stretch;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
}

/* На экранах от 768px и выше, компоненты выводятся в 2 колонки по 45% ширины */
@media (min-width: 768px) {
    .cart-container > div {
        flex: 1 1 45%;
    }
}

/* На узких экранах компоненты выводятся друг под другом */
@media (max-width: 767px) {
    .cart-container > div {
        flex: 1 1 100%;
    }
}
