.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    max-width: 1200px;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #e91e63;
}

.company-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.company-name a {
    text-decoration: none;
    color: inherit;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-menu {
    position: relative;
    cursor: pointer;
}

.user-menu .dropdown-menu {
    position: absolute;
    top: 35px;
    right: 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    width: 120px;
    display: flex;
    flex-direction: column;
}
