/* Ограничение ширины сайта */
.container {
  max-width: 1200px;  /* Или 1400px, если нужно шире */
  margin: 0 auto;  /* Центрирование */
  padding: 0 20px;  /* Отступы по бокам */
}

/* Убираем скролл по горизонтали */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
